<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CourseReviews</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <% if (user) { %>
        <h1>CourseReviews</h1>
        <h2>Welcome to the App! <%= user.username %><br /></h2>
        <a href="/auth/sign-out" class="btn">Sign out</a>
        <% } else { %>
        <h1>CourseReviews</h1>
        <p class="lead">
          Explore, rate, and review courses at your university. Share your
          experience and help others choose wisely.
        </p>
        <p class="lead">View the course reviews and write your own now!</p>
        <a href="/auth/sign-up" class="btn">Sign up</a>
        <a href="/auth/sign-in" class="btn">Sign in</a>
        <% } %>
      </div>
    </header>
    <div class="courses">
      <% courses.forEach((course, index) => { %>
      <div class="card">
        <div class="card-image">
          <img src="/images/<%= index + 1 %>.jpg" />
        </div>
        <div class="card-content">
          <h3><%= course.title %></h3>
          <h4><%= course.instructor %></h4>
          <p><%= course.description %></p>
          <a href="/courses/<%= course._id %>/review" class="btn">Review</a>
        </div>
      </div>

      <% }) %>
    </div>
  </body>
</html>
