<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CourseReviews |</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <h1>CourseReviews</h1>
        <p class="lead"><%= course.title %> Reviews</p>
        <a href="/" class="btn">back</i></a>
<a href="/courses/<%= course._id %>/review/add" class="btn">Add Review</a>
      </div>
    </header>
    <div class="reviews">
     <% reviews.forEach(review => { %>
  <div class="card">
    <div class="card-content">
      <h3><%= review.review %></h3>
      <h4><%= review.user?.username || "Unknown" %></h4>

      <% if (review.user && review.user._id.toString() === user._id.toString()) { %>

     
        <a href="/reviews/<%= review._id %>/edit" class="edit-btn">Edit</a>
       
      
        <form id="delete-form" action="/reviews/<%= review._id %>/delete" method="POST" >
          <button type="submit" class="delete-btn">Delete</button>
        </form>

      <% } }) %>
       
    </div>
  </div>


    </div>
  </body>
</html>
